*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-family), sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 380px;
  min-height: 100%;
  font-size: 16px;
  // background-color: var(--color-site-background);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.root {
  min-height: 100%;
}

.main {
  padding: var(--medium-offset) 0 calc(var(--medium-offset) * 2);
  flex: 1 1 auto;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width) !important;
}