@import "normalize.css";
@import "_vars.scss";
@import "_fonts.scss";
@import "_global.scss";
@import "_settings.scss";

.rows-container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-offset);
}

.subtitle {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-black);

  &--gray {
    color: var(--color-gray);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-black);
  border-radius: 20px;
  color: var(--color-white);
  background-color: var(--color-black);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  &:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.block {
  padding: var(--medium-offset);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}


// Input

.input_wrapper {
  position: relative;

  input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: var(--small-offset) 35px var(--small-offset) var(--small-offset);
    background-color: var(--color-input-background);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-black);

    &::placeholder {
      font-size: 15px;
      font-weight: 500;
      color: #8e8e8e;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("assets/img/svg/icon-input.svg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &--search {
    width: 60%;

    &::after {
      background-image: url("assets/img/svg/icon-search.svg");
    }
  }
}

// react-select

.select {
  &__control {
    height: 45px !important;
    border-radius: 15px !important;
    background-color: var(--color-input-background) !important;
    font-weight: 500 !important;
  }

  &__indicator {
    color: #8e8e8e !important;
  }

  &__menu {
    border-radius: var(--border-radius);
    background-color: var(--color-input-background) !important;
  }

  &__option {
    cursor: pointer !important;
  }
}