.btn_like {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    transform: translate(-6px, 0);
  }

  path {
    fill: transparent;
    stroke: var(--color-black);
    stroke-width: 2px;
    transition: fill 0.2s ease-in-out;
  }

  &:hover path {
    fill: var(--color-black);
  }

  &--active {
    path {
      fill: var(--color-black);
    }

    &:hover path {
      fill: transparent;
    }
  }
}