.order {
  display: flex;
  flex-direction: column;
  gap: var(--medium-offset);

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--big-offset);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--medium-offset);
    max-height: 520px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--medium-offset);
    }

    &__image {
      img {
        display: block;
        border-radius: 10px;
      }
    }

    &__subtitle {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: var(--color-black);

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 25px;
        margin: 0 var(--small-offset) 0 0;
        background-image: url("@assets/svg/icon-adress.svg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }

    &__table {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--small-offset);
    }
  }

  .title {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-black);
  }

  .price {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-black);
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--medium-offset);

    &__row {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: var(--small-offset);
    }

    &__text {
      margin: 0;
      grid-column: 2 / span 5;
    }

    &__price {
      grid-column: 7 / span 2;
      text-align: right;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: var(--small-offset)
  }

  &__link {
    height: 45px;
    cursor: pointer;
  }
}

.success {
  margin: var(--medium-offset) auto 0;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--big-offset) calc(var(--big-offset) * 2);
  font-size: 17px;
  font-weight: 600;
  color: var(--color-black);
}