.item {
  display: flex;
  flex-direction: column;
  gap: var(--medium-offset);

  .content {
    padding: var(--big-offset);

    &__photos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--medium-offset);
    }
    
    &__photo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    &__footer {
      margin: var(--big-offset) 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--medium-offset);
    }

    &__title {
      font-size: 25px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: var(--small-offset);
    }
  }

  .info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--big-offset);

    &__wrapper {
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);
      background-color: #f9f9f9;
      grid-column: span 6;
    }

    &__title {
      padding: var(--medium-offset);
      border-radius: 15px;
      font-size: 20px;
      font-weight: 600;
      color: var(--color-black);
      background-color: var(--color-white);
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--small-offset);
      border-radius: 0 0 15px 15px;
      padding: var(--medium-offset);
    }

    &__text {
      margin: 0;
      font-size: 15px;
      font-weight: 500;
      color: var(--color-black);
    }

    &__btns {
      display: flex;
      flex-direction: column;
      gap: var(--medium-offset);
      grid-column: span 2;
    }

    &__btn {
      height: 45px;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;

      &:disabled {
        color: var(--color-black);
        background-color: var(--color-white);
        cursor: default;
      }

      &--edit {
        	background-color: rgb(234 88 12);
      }

      &--delete {
        	background-color: rgb(220 38 38);
      }
    }
  }
}