.header {
  display: flex;
  align-items: center;
  padding: var(--small-offset) 0;

  &__right {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    gap: var(--big-offset);
  }

  &__btn {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
    z-index: 2;
  }

  &__favourite {
    background-image: url("@assets/svg/icon-heart.svg");
  }

  &__cart {
    background-image: url("@assets/svg/icon-cart.svg");
  }
}