.prices {
  display: flex;
  flex-direction: column;

  .price {
    font-weight: 600;

    &--current {
      font-size: 17px;
      color: var(--color-orange);
    }

    &--old {
      font-size: 13px;
      color: var(--color-yellow);
      text-decoration: line-through;
    }
  }

  &--big {
    .price {
      &--current {
        font-size: 28px;
      }

      &--old {
        font-size: 20px;
      }
    }
  }
}