.card {
  display: flex;
  flex-direction: column;
  padding: var(--medium-offset) var(--medium-offset) var(--big-offset);
  gap: var(--small-offset);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  transition: transform 0.2s ease-in-out;

  a { // <Link> для react-router-dom 
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img {
    margin: 0 auto 20px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    margin: 0 0 var(--medium-offset);
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-black);
    margin: 0 auto 0 0;
    max-width: 70%;
  }

  &__grade {
    margin: auto 0 0;
    display: flex;
    color: var(--color-gray);
    font-size: 17px;
    font-weight: 600;

    &::before {
      content: "";
      display: block;
      margin: 0 var(--small-offset) 0 0;
      width: 23px;
      height: 23px;
      background-image: url("@/assets/img/svg/icon-star.svg");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}