.quantity {
  position: relative;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-orange);

  &--small {
    font-size: 11px;
  }

  &_wrapper {
    position: absolute;
    top: -5px;
    right: -10px;
  }
}